---
import Members from "../components/Members.astro";
import Hero from "../components/hero/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Hero client:load>
		<h1>Hello World</h1>
	</Hero>
	<main>
		<Members server:defer />
	</main>
</Layout>
