---
import banner from "../assets/banners/ffxiv_07072025_151021_661.png";
---

<div class="hero">
	<div id="scene">
		<div class="banner" data-depth="0.4" style=`background-image: url(${banner.src});`></div>
		<div data-depth="0.2"><div class="slot"><slot /></div></div>
	</div>
</div>

<script>
	const scene = document.getElementById("scene")!;

	let pointer: { x: number; y: number } = { x: 0, y: 0 };
	let target: { x: number; y: number } = { x: 0, y: 0 };

	function update() {
		requestAnimationFrame(update);

		pointer = {
			x: pointer.x + (target.x - pointer.x) * 0.1,
			y: pointer.y + (target.y - pointer.y) * 0.1,
		};

		for (const node of scene.childNodes) {
			if (node instanceof HTMLElement && node.hasAttribute("data-depth")) {
				const depth = parseFloat(node.getAttribute("data-depth")!) * 0.25;
				node.style.transform = `translate(${(pointer.x + window.scrollX * 4) * depth}px, ${(pointer.y + window.scrollY * 4) * depth}px)`;
				node.style.height = `calc(100% + ${depth * 100}vh)`;
				node.style.width = `calc(100% + ${depth * 100}vw)`;
			}
		}
	}

	requestAnimationFrame(update);
	window.addEventListener("pointermove", (e) => {
		target = {
			x: (e.clientX / window.innerWidth - 1) * window.innerWidth,
			y: (e.clientY / window.innerHeight - 1) * window.innerHeight,
		};
	});
</script>

<style lang="scss">
	.hero {
		overflow: hidden;
		height: 540px;
	}

	#scene {
		height: 100%;

		div {
			height: 100%;
			width: 100%;
		}
	}

	.banner {
		background-position: 50% 50%;
		background-size: cover;
	}

	.slot {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
